.signin-main-container{
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
}
.signin-right-div{
    /* width: 50%; */
    background: rgb(252, 254, 251);
    box-sizing: border-box;
}
.signin-right-inner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 237.5px 130px 236.5px 130px;
}
.signin-right-inner-top-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 50px 20px;
}
.signin-right-inner-detail-d{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
}
.signin-right-inner-detail-d h2{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 25px;
    line-height: 30.48px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(30, 30, 36, 1);
    margin: 0;    
}
.signin-right-inner-detail-d p{
    max-width: 390px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px !important;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(142, 142, 142, 1);
    margin: 0;    
}
.signin-right-inner-bottom-div{
    max-width: 430px;
    height: 207px;
    /* height: 587px; */
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.label-input-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.label-input-div label{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    letter-spacing: 0px;
    color: rgba(30, 30, 36, 1);
    margin: 0;    
}
.label-input-div input{
    width: 430px;
    border-radius: 12px;
    padding: 16px 24px;
    font-size: 14px;
    background: rgba(251, 251, 251, 1);
    border: 1px solid rgba(240, 240, 240, 1);
}

.label-input-div input::-ms-reveal,
.label-input-div input::-ms-clear {
  display: none;
}

.label-input-div input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none;
  pointer-events: none;
}
.toggle-btn{
    position: absolute;
    top: 16px;
    right: 14px;
    background: none;
    display: flex;
    align-content: center;
    width: 20px;
    height: 100%;
    
}
.icon-d .fa-solid{
    width: 20px;
    height: 20px;
    color: rgb(41, 41, 41);
}
.label-input-div input:focus{
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(30, 30, 36, 1);
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.15);
}
.label-input-div1{
    max-width: 430px;
}
.label-input-div1 a{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    letter-spacing: 0px;
    color: rgba(30, 30, 36, 1);
    margin: 0;   
}
.signin-btn{
    max-width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    padding: 19px 8px;
    background: linear-gradient(180deg, #000000 0%, #323232 100%);
    color: white;
    font-size: 15px;
    font-family: Montserrat;
}
.signin-btn:hover{
    opacity: 90%;
}
.signin-bottom-last-div{
    width: 100%;
    height: 81px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 16px;
    margin-top: 50px;
}
.signin-bottom-last-div-link{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.signin-bottom-last-div-link p{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    letter-spacing: 0px;
    color: rgba(30, 30, 36, 1);
    margin: 0;
}
.signin-bottom-last-div-link a{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.07px;
    letter-spacing: 0px;
    color: rgba(30, 30, 36, 1);
    margin: 0;
}






/*  part 2 */

.signin-left-varificaton-code{
    /* width: 50%; */
    background: rgba(236, 237, 241, 1);
}
.signin-left-div-pic{
     width: 100%;
     padding: 28px 38px 48.5px 100px;
}
.signin-left-descripton{
    /* width: 489px; */
    padding: 0px 131px 146.5px 130px;
    /* height: 193; */ 
}
.signin-left-description-detail{
    max-width: 489px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.signin-left-description-detail h2{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0px;
    text-align: center;
    Color: rgba(30, 30, 36, 1);
    margin: 0;    
}
.signin-left-description-detail p{
    width: 460px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 19.5px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(142, 142, 142, 1);
    margin: 0;    
}
/* .slider2-div{
    width: 100%;
    padding: 40px 212.5px 0px 212.5px;
} */




@media screen and (max-width:1300px) {
    .signin-right-div{
        max-width: 600px;
        /* height: 1024px; */
        background: rgb(252, 254, 251);
        box-sizing: border-box;
    }
    .signin-right-inner-div{
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 170.5px 100px 170.5px 100px;
    }
    .signin-right-inner-top-div{
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px 30px 10px;
    }
    .signin-left-varificaton-code{
        /* width: 100%; */
    max-width: 666px;
    background: rgba(236, 237, 241, 1);
}
.signin-left-div-pic img{
    width: 100%;
}
.signin-left-descripton{
    padding: 0px 100px 148.5px 100px;
}
.signin-left-varificaton-code{
    max-width: 656.5px;
    background: rgba(236, 237, 241, 1);
}
.signin-left-div-pic{
     width: 100%;
     padding: 28px 38px 48.5px 100px;
}
}



@media screen and (max-width:1024px) {
    .signin-right-div{
        max-width: 500px;
    }
    .signin-right-inner-div{
        padding: 170.5px 100px 170.5px 100px;
    }
.signin-right-inner-detail-d h2{
    font-size: 25px;
}
.signin-right-inner-detail-d p{
    max-width: 390px;
    font-size: 14px !important;
}
.signin-right-inner-bottom-div{
    max-width: 390px;
}
.label-input-div input{
    width: 360px !important;
    padding: 16px 24px;
    font-size: 14px;
}


   /* part 2 */

   .signin-left-varificaton-code{
    max-width: 550px;
    background: rgba(236, 237, 241, 1);
}
.signin-left-div-pic{
     width: 100%;
     padding: 40px 45px 48.5px 55px;
}
.signin-left-div-pic img{
    width: 450px;
}
.signin-left-descripton{
    padding: 50px 50px 148.5px 50px;
}
.signin-left-description-detail{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.signin-left-description-detail h2{
    font-size: 28px;  
}
.signin-left-description-detail p{
    width: 400px;
    font-size: 12px;  
}
.slider2-div{
    width: 100%;
    padding: 40px 170.5px 0px 170.5px;
}
}


@media screen and (max-width:1000px) {
    /* .signin-main-container{
        display: flex;
        justify-content: center;

    } */
    .signin-right-div{
        max-width:420px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .signin-right-inner-div{
        padding: 70.5px 50px 70.5px 50px;
    }
    .signin-right-inner-detail-d{
        gap: 10px;
        padding-top: 30px;
    }
.signin-right-inner-detail-d p{
    max-width: 100%;
    font-size: 12px !important;
}
.signin-right-inner-bottom-div{
    max-width: 350px;
    gap: 10px;
}
.label-input-div input{
    width: 100% !important;
    padding: 16px 10px;
    font-size: 14px;
}
.label-input-div1{
    margin-left: 17px;
}
.signin-btn{
    max-width: 320px;
    gap: 5px;
    padding: 19px 8px;
}
.signin-bottom-last-div button{
    margin: 30px 0px 0px 15px;
}
   /* part 2 */

   .signin-left-varificaton-code{
    display: none;
}
}




@media screen and (max-width:600px) {
    .signin-right-inner-div{
        padding: 30.5px 25px 30.5px 25px;
    }
    .signin-right-div{
        max-width: 100%;
    }
    .signin-right-inner-detail-d p{
        max-width: 100%;
        font-size: 13px !important;
    }
    .signin-right-inner-bottom-div{
        max-width: 100%;
    }
    .label-input-div input{
        width: 100% !important;
    }
.signin-bottom-last-div{
    margin-top: 30px;
}
}


@media screen and (max-width:380px) {
    .signin-right-inner-detail-d{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding-top: 20px;
    }
    .signin-right-inner-detail-d h2{
        font-size: 20px;    
    }
    .signin-right-inner-detail-d p{
        width: 300px;
        font-size: 12px !important;  
    }
    .signin-right-inner-div{
        padding: 30.5px 25px 30.5px 25px;
    }
}

@media screen and (max-width:344px) {

    .signin-right-inner-div{
        padding: 30.5px 0px 30.5px 25px !important;
    }
}

